.secao-video {
  padding: 60px 0;
  background-size: cover;
  background-position: center;

  &__top-text {
    max-width: 1431px;
    margin: 0 auto 3rem auto;
    text-align: center;
    color: #fff; // Cor a ajustar
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 0.18rem; //18% de 1rem

    @media (max-width: 767px) {
      margin: 0 auto 4rem auto;
    }
  }

  &__video-wrapper {
    margin: 0 auto 10px auto;
    max-width: 900px;
    aspect-ratio: 16 / 9;

    iframe {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      border: 0;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1210px;
    margin: 0 auto;

    @media (max-width: 1100px) {
      gap: 0rem;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 0rem;
    }
  }

  &__item {
    padding: 2rem 5rem;
    @media (max-width: 1100px) {
      padding: 2rem;
    }
  }

  &__item-icon img {
    height: auto;
    margin-bottom: 1.5rem;

    @media (max-width: 767px) {
      margin-bottom: 0.5rem;
    }
  }

  &__item-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
    color: #1c1c1e; // Cor a ajustar
    max-width: 280px;

    @media (max-width: 1100px) {
      font-size: 1.2rem;
    }
  }

  &__item-description {
    color: #1c1c1e; // Cor a ajustar
    max-width: 280px;
  }

  &__cta {
    .btn {
      background-color: #1d3000;
      color: #fff;
      padding: 1rem 2.5rem;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      margin: 40px auto 0;
      display: block;
      width: fit-content;
    }
  }
}
